	 .fa-arrow-right{     
    border: solid 5px;
    border-radius: 100%;
    font-size: 40px!important;
    padding: 10px;
    width: 40px;
    text-align: center;}
	 h2 {width: 100%; height: 80px;margin: 0px}
	 h1	{font-size: 40px; margin: 15% 0; text-align:center;font-family: sans-serif}
	 a{color:#ecf0f1;}
	 body{color:#ecf0f1;}
         .fa-play{     
    border: solid 5px;
    border-radius: 100%;
    font-size: 40px!important;
    width: 40px;
    text-align: center;}

    h1 {font-size: 34px}